@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "sans-serif";
  overflow-x: hidden;
  letter-spacing: 0.1px;
}

/* body {
  height: 100vh;
   background-image: url("./assets/Images/bg_final_image.jpeg");
  background-size: cover;
  width: 100vw;
} */

.navbar {
  background-color: black;
}

/* .navbar-container{
  height: 100vh;
  background: url(./assets/Images/Home_bgimg.jpg);
  background-size: cover;
} */

.logo {
  width: 150px;
  height: 60px;
  background-image: url("./assets/Images/LawConnectIndia-logos.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 15px;
  font-size: 30px;
  font-weight: 600;
  margin-top: 10px;
  margin-left: 20px;
}

.linkss {
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  color: white;
  /* margin-right: 5px; */
  transition: all 1s;
  /* padding: 5px; */
  cursor: pointer;
}

/* .linkss-button {
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  color: white;
  margin-right: 5px;
  transition: all 1s;
  padding: 5px;
} */

.links1 {
  margin: -50px;
}

.links2 {
  margin: -50px;
  margin-right: -140px;
}

.btn-login {
  width: 125px;
  height: 50px;
  background: transparent;
  border: 4px solid white;
  margin: 10px;
  font-size: 25px;
  font-weight: 600;
  color: white;
  cursor: pointer;
  transition: all 0.5s;
  overflow-y: hidden;
  border-radius: 15px;
  text-align: center;
}

.btn-login:hover {
  color: rgb(103, 48, 14);
  background: white;
}

/* Now is css for Homepage */

.homepage {
  background-image: url("./assets/Images/bg_final_image.jpeg");
  height: 100vh;
  background-size: cover;
}

.bigHeading {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10%;
  text-align: center;
  font-size: 55px;
  color: white;
  font-weight: bold;
}

.smallHeading {
  text-align: center;
  color: white;
  font-size: 20px;
  margin-top: 5%;
}

.forButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 150px;
  padding: 15px;
  overflow-y: hidden;
  margin-bottom: 90px;
}

.btnhomepage {
  width: 250px;
  height: 80px;
  background: transparent;
  border: 4px solid white;
  margin: 10px;
  font-size: 25px;
  font-weight: 600;
  color: white;
  cursor: pointer;
  transition: all 0.5s;
  border-radius: 15px;
}

.btnhomepage1 {
  width: 250px;
  height: 80px;
  background: transparent;
  border: 4px solid white;
  margin: 10px;
  font-size: 25px;
  font-weight: 600;
  color: white;
  cursor: pointer;
  transition: all 0.5s;
  overflow-y: hidden;
  border-radius: 15px;
}

.btnhomepage:hover,
.btnhomepage1:hover {
  color: rgb(103, 48, 14);
  background: white;
}

.v-shape {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid black;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  margin-top: -12px;
  cursor: pointer;
}

/* now css for aboutus start from here */
.aboutus {
  background: rgba(225, 219, 219, 1);
}

/*About us*/

.headingaboutus {
  text-align: center;
  font-size: 50px;
  overflow-y: hidden;
  font-weight: bold;
  margin-top: 10px;
  color: #3d2819;
}

.box {
  width: 600px;
  height: 500px;
  background: rgba(241, 234, 234, 1);
  border-radius: 20px;
  box-shadow: 10px 10px 10px rgba(97, 97, 97);
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
}

.box1 {
  width: 700px;
  height: 500px;
  background-image: url("./assets/Images/Section2_img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  box-shadow: 10px 10px 10px rgba(97, 97, 97);
  margin: 20px;
  background-position: -80px center;
  background-position: -150px bottom;
}

.boxmatter {
  width: 500px;
  margin-left: 20px;
  border: 1px solid black;
  border-radius: 15px;
  padding: 10px;
}

.boxmatter h3 {
  font-size: 30px;
}

/*services section*/

.servicesss {
  width: 100vw;
  height: 100vh;
  background: rgba(189, 189, 189, 1);
}

.headingServices {
  margin-top: 1%;
  text-align: center;
}

.headingServices h3 {
  font-size: 50px;
  overflow-y: hidden;
  font-weight: bold;
  color: #3d2819;
}

.headingServices p {
  margin-top: 1%;
  font-family: sans-serif;
  letter-spacing: 10px;
  font-size: 30px;
  font-weight: 100;
  color: rgba(0, 0, 0, 0.6);
  letter-spacing: 1px;
}

.servicesimg {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.serviceimg1,
.serviceimg2 {
  margin: 3%;
  width: 85%;
  height: 400px;
  background-image: url("./assets/Images/s3img1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.serviceimg2 {
  background-image: url("./assets/Images/s3img2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.serviceimg1 h4,
.serviceimg2 h4 {
  margin: 20px;
  color: white;
  font-size: 36px;
  font-weight: 800;
  overflow-y: hidden;
}

.serviceimg1 button,
.serviceimg2 button {
  width: 200px;
  height: 80px;
  background: transparent;
  border: 4px solid white;
  border-radius: 15px;
  margin: 10px;
  font-size: 25px;
  font-weight: 600;
  color: white;
  cursor: pointer;
  transition: all 0.5s;
}

.serviceimg1 button:hover,
.serviceimg2 button:hover {
  color: rgb(103, 48, 14);
  background: white;
}

/* now css for collab start from here */

.collab {
  height: 100vh;
  background: rgba(132, 129, 129, 1);
  overflow-x: hidden;
}

.collabcontainer p {
  overflow-y: hidden;
}

.collab-para {
  color: #3d2819;
  font-size: 24px;
  font-weight: 300;
}

.collabbox {
  width: 300px;
  height: 400px;
  background: rgba(255, 255, 255, 1);
  border-radius: 30px;
  box-shadow: -10px 10px 5px rgb(97, 97, 97);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  transition: all 0.5s;
  text-align: center;
  font-size: 24px;
}

.collabimg1 {
  width: 100%;
  height: 176px;
  background-image: url("./assets/Images/legalaidsclincs.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 0.5s;
}

.collabimg2 {
  width: 100%;
  height: 176px;
  background-image: url("./assets/Images/bar_association_india.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 0.5s;
}

.collabimg3 {
  width: 100%;
  height: 176px;
  background-image: url("./assets/Images/courts_img.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 0.5s;
}

.collabheading {
  font-size: 50px;
  text-align: center;
  color: #3d2819;
  font-weight: bold;
}

.collabbtn {
  width: 300px;
  height: 80px;
  background-color: #3d2819;
  font-size: 30px;
  font-weight: 600;
  color: white;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  transition: all 0.5s;
}

.collabbtn:hover {
  border: solid 5px #3d2819;
  background-color: white;
  color: #3d2819;
}

.contactuscontainer {
  background-color: #dff2ff69;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: row;
  overflow-y: hidden;
}

.forRight {
  margin: 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: row;
}

.forRight h1 {
  overflow-y: hidden;
  color: #3d2819;
  text-align: center;
  font-weight: bold;
  font-size: 35px;
}

.input-el,
.input-el1 {
  border-radius: 12px;
  margin: 5px;
  border: 1px solid #b8b8b8;
  padding: 10px;
  width: 450px;
  margin-top: 15px;
}

.input-el-msg {
  height: 200px;
}

.send-button {
  color: white;
  background-color: #75c6fc;
  width: 450px;
  border-style: none;
  border-radius: 10px;
  height: 40px;
  font-weight: bold;
  font-size: 24px;
}

.contact-icon {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-left: 25%;
}

.details-con {
  margin-left: 10px;
  color: #3d2819;
}

.con-center {
  margin-left: 15%;
}

.details-con-head {
  font-weight: 700;
  font-size: 24px;
}

.con-con {
  margin-left: 400px;
}

.forRight-p {
  color: #323f4b;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.details-con-para {
  margin-top: -10px;
  font-weight: 500;
  color: #3d2819;
  font-size: 20px;
}

/*footer*/
.icon-image {
  width: 30px;
  height: 30px;
  margin-right: 3%;
  border-radius: 5px;
}

.icon-container {
  padding: 5px;
  margin: 10px;
}

.bg-container {
  background-color: #323f4b;
  width: 100vw;
}

.footer-image {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin-right: 10px;
}

.footer-heading {
  color: white;
  font-weight: bold;
  font-size: 24px;
}

.footer-para {
  color: white;
  font-size: 20px;
}

.footer-link {
  font-size: 20px;
}

.footer-card {
  padding: 5px;
  margin: 5px;
}

/* Lawyers page*/

.law-con {
  padding: 10px;
  text-align: center;
}

.search-law-el {
  border-radius: 50px;
  height: 50px;
  width: 300px;
  border-width: 1px;
  padding: 10px;
  margin: 10px;
}

.search-button {
  width: 100px;
  height: 30px;
  background: transparent;
  border: 3px solid #552a0b;
  margin: 10px;
  margin-left: 10px;
  margin-top: -1px;
  font-size: 15px;
  font-weight: 600;
  color: #552a0b;
  cursor: pointer;
  transition: all 0.5s;
  overflow-y: hidden;
  border-radius: 10px;
  text-align: center;
}

.search-button:hover {
  background-color: #552a0b;
  color: white;
}

.list-heading {
  font-size: 24px;
  font-weight: 500;
  color: #552a0b;
  margin: 20px;
  text-align: center;
}

.lawyer-page {
  background-color: #dff2ff69;
  height: 100vh;
  width: 100vw;
}

.law-head2 {
  text-align: center;
  font-weight: bold;
  color: #552a0b;
}

.lawyer {
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  height: 300px;
  width: 350px;
  color: #3d2819;
  background-color: white;
  border-radius: 10px;
  transition: background-color 0.3s ease-in-out;
  overflow-y: hidden;
}

.lawyer-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 60px;
  padding: 25px;
}

.law-button {
  width: 125px;
  height: 50px;
  background: transparent;
  border: 3px solid #552a0b;
  margin: 10px;
  margin-left: 10px;
  margin-top: -1px;
  font-size: 15px;
  font-weight: 600;
  color: #552a0b;
  cursor: pointer;
  transition: all 0.5s;
  overflow-y: hidden;
  border-radius: 15px;
  text-align: center;
}

.lawyer-container {
  box-shadow: 10px 10px 10px 10px rgba(97, 97, 97, 5);
}

.law-button:hover {
  background-color: white;
  color: #552a0b;
  border: 3px solid #552a0b;
}

.law-button:active {
  background: white;
  color: #552a0b;
  border: 3px solid #552a0b;
}

.lawyer-name {
  font-weight: bold;
  margin-top: 3px;
}

.lawyer-exp {
  font-size: 16px;
  text-align: left;
  font-weight: 400;
}

.lawyer-image {
  height: 120px;
  width: 120px;
  border-radius: 50%;
}

.verify-con {
  text-align: left;
}

.verified-image {
  height: 20px;
  width: 20px;
  margin: 10px;
  border-radius: 50%;
}

.sign-el {
  border-radius: 12px;
  margin: 5px;
  border: 1px solid #b8b8b8;
  padding: 10px;
  width: 350px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.sign-con {
  background-image: url("https://th.bing.com/th/id/R.4a29922ecc034fec8c47f72abc2e3d3a?rik=QZ1MVBejFFcf5w&riu=http%3a%2f%2fwww.solidbackgrounds.com%2fimages%2f2560x1600%2f2560x1600-white-solid-color-background.jpg&ehk=gxDw3Nje94wPA9EVy1hB2RqiK0vN4sOUB2E30hkUzCU%3d&risl=&pid=ImgRaw&r=0");
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-card-container {
  display: grid;
  place-items: center;
  text-align: center;
}

.sign-card {
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  width: 450px;
  height: 500px;
  overflow-y: hidden;
  transition: all 0.5s;
  border: 2px solid rgb(179, 179, 179);
}

.sign-card:hover {
  box-shadow: 10px 10px 10px 10px rgba(97, 97, 97, 5);
  border: none;
}

.sign-btn {
  width: 150px;
  height: 40px;
  background-color: #552a0b;
  font-size: 24px;
  font-weight: 600;
  color: white;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  transition: all 0.5s;
  text-align: center;
  padding: 4px;
  overflow-y: hidden;
  margin-top: 20px;
  margin-bottom: 40px;
  text-align: center;
  padding-bottom: 40px;
}

.sign-btn:hover {
  border: solid 5px #552a0b;
  background-color: white;
  color: #3d2819;
}

/* Page Not Found */

.page-not-found {
  background-image: url("./assets/Images/error_img_magic.jpg");
  height: 200px;
  background-size: cover;
  width: 300px;
  border-radius: 50% 45%;
  margin: 10px;
}

.page-not-found-heading {
  font-size: 35px;
  font-weight: bold;
  color: #552a0b;
}

.page-not-span {
  font-size: 35px;
  font-weight: 400;
  color: #323f4b;
}

.page-msg {
  font-size: 24px;
  font-weight: 200;
  color: black;
}

.container-card {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Lawyer profile*/

.lawyer-about-con2 {
  background-color: #dff2ff69;
  height: 100vh;
  width: 100vw;
}

.lawyer-profile-con {
  text-align: center;
  width: 60%;
  padding: 10px;
}

.lawyer-name2 {
  color: #552a0b;
  font-weight: bold;
}

.lawyer-exp2 {
  color: #552a0b;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
}

.vertical-line {
  border-left: 1px solid #552a0b;
  height: 20px;
  margin: 10px;
  margin-top: -0.3px;
}

.lsp-con {
  border-radius: 15px;
  background-color: white;
  margin: 20px;
  padding: 10px;
}

.lawyer-pg-con {
  border-radius: 15px;
  background-color: white;
  margin: 20px;
  padding: 10px;
  text-align: left;
}

.lawyer-about-heading {
  color: #552a0b;
  font-weight: 590;
  text-align: center;
}

.lawyer-loc {
  color: #552a0b;
  font-size: 15px;
  padding: 10px;
  font-weight: 300;
}

.lawyer-span {
  font-weight: 570;
  font-size: 18px;
  color: black;
}
